.container {
    max-width: 900px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    grid-gap: 2px;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}
